@import "material-you";

.profile-intro {
	display: flex;
	gap: 2rem;
	padding: 0rem 2rem;
	margin-bottom: 3rem;

	@include media-breakpoint-down(md) {
		flex-direction: column-reverse;
	}
}

.profile-body {
	margin: 3rem 2rem;

	&--themed {
		margin: 3rem 0rem;
		@include material-container--primary;
		padding: 2rem;
		border-radius: $container-border-radius;
	}
	
	&--themed-secondary {
		@include material-container--secondary;
	}

	&--themed-tertiary {
		@include material-container--tertiary;
	}
}

.at-a-glance {
	margin: 3rem 2rem;
}

.skill-section {
	display: flex;
    overflow: hidden;
	flex-direction: column;

	&__container {
		display: flex;
		overflow: hidden;
		padding: 2rem;
		overflow: visible;

		@include media-breakpoint-down(lg) {
			flex-direction: column;
		}

		& > * {
			flex: 1;
		}
	}
}
