<article class="resume-request">
	<div class="resume-request__icon-container">
		<span class="resume-request__icon material-symbols-rounded">
			description
		</span>
	</div>
	<section class="resume-request__text">
		<span>Thank you for exploring my portfolio website. This portfolio showcases my key projects and skills, but for a more comprehensive overview of my qualifications, please reach out for my full resume. My complete resume includes:</span>
		<ul>
			<li>Detailed work experience</li>
			<li>Academic achievements and courses</li>
			<li>Technical project details</li>
			<li>Certifications and additional training</li>
			<li>References and contact information</li>
		</ul>
		<span>Interested in learning more? Feel free to request my resume via email.</span>
		<a href="mailto:aayushgala19@gmail.com?subject=Resume%20Request&body=Hello%20Aayush%2C%0D%0A%0D%0AI%20visited%20your%20portfolio%20website%20and%20would%20like%20to%20request%20your%20complete%20resume.%0D%0A%0D%0A(Please%20include%20any%20additional%20details%20about%20your%20interest%20or%20potential%20opportunities%20here)" class="resume-request__email-button">
			<span class="material-symbols-rounded">
				send
			</span>
		Email me</a>
	</section>
</article>
